@model Student
  
<div>

     <a asp-controller="Student" asp-action="Delete" aria-pressed="true"></a>
    <div class="alert alert-success" role="alert">
        Your record got Deleted
    </div>
    <button asp-controller="Student" asp-action="Index" class="btn btn-dark btn-lg active" role="button" aria-pressed="true">Back To Student Information</button>
</div>
          